<div class="top_banner">
    <a href="/"><img class="title_image" src="/title.png" alt="title_image"></a>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/content">Content</a>
        <a href="/mypage">MyPage</a>
    </div>
    <button id="logout-button" class="logout-button">LogOut</button>
    <div class="profile">
        <% if (typeof user !== 'undefined' && user) { %>
            <a><%= user.username %></a>
            <a><%= user.grade %></a>
        <% } else { %>
            <a>로그인이 필요합니다</a>
        <% } %>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const logoutButton = document.getElementById('logout-button');
    
    logoutButton.addEventListener('click', function() {
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin'
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === '로그아웃 되었습니다.') {
                alert('로그아웃 되었습니다.');
                window.location.href = '/login'; // 로그인 페이지로 리디렉트
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('로그아웃 중 오류가 발생했습니다.');
        });
    });
});
</script>