<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main - COMEON</title>
    <link href="main.css" rel="stylesheet">
    <script>hljs.highlightAll();</script>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.25/build/spline-viewer.js"></script>
</head>

<body>
    <%-include('header.ejs')%>
    <div class="main-wrap">
        <div class="main1">
            <spline-viewer url="https://prod.spline.design/dzHhgO4xrD-PaGwP/scene.splinecode"></spline-viewer>
        </div>
        <div class="main1">
            <h1 class="main2">최신 글</h1>
            <% for (let i = posts.length - 1; i >= Math.max(0, posts.length - 3); i--) { %>
                <div class="list-box">
                  <h2><%= posts[i].title %></h2>
                  <p><%= posts[i].subtitle %></p>
                  <a href="/detail/<%= posts[i]._id %>" class="posts_link">시작하기</a>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>